@import "../../style/variables.scss";

.map-tools {
	position: absolute;
	top: 55px;
	right: 10px;
	z-index: 1001;
	max-width: 13em;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	gap: 0.5em;
}
