@import "../../style/variables.scss";

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: $header-padding;
	background: #fff;
	box-shadow: $shadow;
	&_title {
		display: block;
		font-size: 20px;
		font-weight: 800;
		color: $font-color;
	}
	&_links {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&_mob {
		display: none;
		padding: $header-padding;
		background: #fff;
		box-shadow: $shadow;
	}
}

.userlogin {
	font-weight: 700 !important;
	font-size: 11px;
	color: $line-color;
	font-weight: 500;
	padding: 0 7px;
	border-right: 1px solid $unactive-color;
}

@media (max-width: 525px) {
	.header {
		display: none;
		&_mob {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
}
