@import "../../style/variables.scss";

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 10px;
	background: #fff;
	box-shadow: $shadow;
	&_title {
		display: block;
		font-size: 28px;
		font-weight: 800;
		color: $font-color;
	}
}
