@import "../../style/variables.scss";

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 10px;
	background: #fff;
	box-shadow: $shadow;
	&_title {
		display: block;
		font-size: 20px;
		font-weight: 800;
		color: $font-color;
	}
	&_links {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&_mob {
		display: none;
		padding: 5px 10px;
		background: #fff;
		box-shadow: $shadow;
	}
}

.userlogin {
	font-weight: 700 !important;
	font-size: 11px;
	color: $line-color;
	font-weight: 500;
	padding: 0 7px;
	border-right: 1px solid $unactive-color;
}

.slide-menu {
	display: none;
	background: #fff;
	width: 200px;
	height: 100vh;
	position: absolute;
	top: 0;
	left: -100%; /* изменено значение */
	z-index: 1001;
	transition: left 0.3s ease; /* добавлено свойство transition */
}

.slided.slide-menu {
	left: 0;
}

@media (max-width: 525px) {
	.header {
		display: none;
		&_mob {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}

	.slide-menu {
		display: block;
	}
}
