@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@500;700;800&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "./variables.scss";

body,
html,
* {
	color: $font-color;
	font-family: "Mulish";
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	// background-color: $bg-color;
}

.fw700 {
	font-weight: 700;
}

.c-action {
	color: $action-color;
}

.font {
	font-family: "Mulish" !important;
	font-size: 14px;
}

select {
	display: inline-block !important;
	font-family: "Mulish" !important;
	margin: 0;
	cursor: pointer;
}

ul,
li {
	list-style: none;
}

.title {
	font-size: 28px;
	font-weight: 800;
	color: $font-color;
}

.subtitle {
	text-align: center;
	padding: 5px 15px;
	font-weight: 800;
	color: #fff;
	background-color: $font-color;
}

//for every icon in project, that are works like buttons
.pressable {
	cursor: pointer;
	padding: 5px;
	color: $line-color;
}

//fixes native framework troubles
.button-i {
	color: #fff;
	background-color: transparent !important;
}

.sup-badge {
	font-size: 8px;
	background: $primary-color;
	color: #fff !important;
	border-radius: 2px;
	padding: 2px 3px;
	margin-left: 2px;
}

/* стили для боковой полосы прокрутки в Chrome и Safari */
::-webkit-scrollbar {
	width: 2px;
}

::-webkit-scrollbar-track {
	background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background-color: $action-color;
	border-radius: 5px;
}

/* стили для боковой полосы прокрутки в Firefox */
::-moz-scrollbar {
	width: 2px;
}

::-moz-scrollbar-track {
	background-color: #f1f1f1;
}

::-moz-scrollbar-thumb {
	background-color: $action-color;
	border-radius: 5px;
}
