@mixin bg-pattern {
	background: radial-gradient(circle, transparent 25%, #ffffff 26%),
		linear-gradient(
			0deg,
			transparent 44%,
			#ececf1 45%,
			#ececf1 55%,
			transparent 56%
		),
		linear-gradient(
			90deg,
			transparent 44%,
			#ececf1 45%,
			#ececf1 55%,
			transparent 56%
		);
	background-size: 6em 6em;
	background-color: #ffffff;
	opacity: 0.45;
}
