@import "./variables.scss";

@mixin c-block {
	background: $bg-color;
	border-radius: 10px;
	padding: 10px 20px;
	// margin: 1em 0;
	border: 1px solid darken($bg-color, 5%);
	width: 300px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
}
