@import "../../style/variables.scss";

.leaflet-container {
	width: 100%;
	height: calc(100vh - $header-height);
}

// втупую отключил подробности
.leaflet-routing-container {
	display: none;
}

//втупую отключил маркеры маршрутов
.leaflet-marker-draggable {
	display: none;
}

// .leaflet-interactive {
// 	display: none;
// }
